
h1
{
	color: rgb(0, 252, 113); 
	font-size: 40px;
}
.body_background 
{
	background-image: url("pic.jpg");
	background-position: center;
	background-size: cover;
} 

#canvas10
{
	border-width: 10px;
	background-color:white;
	border-style: ridge;
}
